
<div>
    <form method="POST" action="https://biegala.activehosted.com/proc.php" id="_form_1_" class="_form _form_1 _inline-form _inline-style _dark" novalidate>
      <input type="hidden" name="u" value="1" />
      <input type="hidden" name="f" value="1" />
      <input type="hidden" name="s" />
      <input type="hidden" name="c" value="0" />
      <input type="hidden" name="m" value="0" />
      <input type="hidden" name="act" value="sub" />
      <input type="hidden" name="v" value="2" />
      <div class="_form-content">
        <div class="_form_element _x51472878 _inline-style _clear" >
          <div class="_form-title">
            Dołącz do newslettera
          </div>
        </div>
        <div class="_form_element _x67645458 _inline-style _clear" >
          <div class="_html-code">
            <p>
              Poza nowościami z bloga, staram się podsyłać także ciekawe artykuły z sieci, czy informacje o fajnych wydarzeniach.
            </p>
            <p>
              Sam nie lubię spamu, więc z reguły nie dostaniesz ode mnie maila częściej niż raz na tydzień/dwa.
            </p>
          </div>
        </div>
        <div class="_form_element _x13649550 _inline-style " >
          <label class="_form-label">
            Imię*
          </label>
          <div class="_field-wrapper">
            <input type="text" name="fullname" placeholder="Imię" required/>
          </div>
        </div>
        <div class="_form_element _x76774293 _inline-style " >
          <label class="_form-label">
            Email*
          </label>
          <div class="_field-wrapper">
            <input type="text" name="email" placeholder="Email" required/>
          </div>
        </div>
        <div class="_button-wrapper _inline-style">
          <button id="_form_1_submit" class="_submit" type="submit">
            Zapisz się
          </button>
        </div>
        <div class="_clear-element">
        </div>
      </div>
      <div class="_form-thank-you" style="display:none;">
      </div>
    </form>
  </div>