
<div id="mc_embed_signup" style="margin-left:20px; margin-right:20px; margin-bottom:20px; border: 1px solid #CCCCCC; padding:10px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;">
<!-- Begin Mailchimp Signup Form -->
        <form action="https://biegala.us7.list-manage.com/subscribe/post?u=e280938db90446db389b3ecbd&amp;id=53eb7f15c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="margin: 0px;">
            <div id="mc_embed_signup_scroll">
            <h2>Zapisz się do newslettera</h2>
            <p style="margin: 0 0 1em 0; font-size: 0.8em;">
            Poza nowościami z bloga, staram się podsyłać także ciekawe artykuły z sieci, czy informacje o fajnych wydarzeniach.<br/>
            Sam nie lubię spamu, więc z reguły nie dostaniesz ode mnie maila częściej niż raz na tydzień/dwa.
            </p>
        <div class="mc-field-group" style="float:left; margin: 2px">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email" style="max-width: 400px">
        </div>
        <div class="mc-field-group" style="float:left; margin: 2px">
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="Imię" style="max-width: 400px">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e280938db90446db389b3ecbd_53eb7f15c7" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Zapisz mnie" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin-top: 6px;
                padding: 0 2em;
                height: 44px;
                line-height: normal;"></div>
            </div>
        </form>
        
        <!--End mc_embed_signup-->
  </div>