ul.social-icons {
    font-size: 36px;
}

ul.social-icons a {
    border-bottom: 0;
}

article.post {
    padding-top: 1em;
}

article.post > header {
    margin-top: -1em;
}

article.post > header .meta {
    padding-top: 1.75em;
}

article.post > header .title {
    padding-top: 3.0em;
}

#social-share {
    margin-top: 3em;
    margin-bottom: 1em;
}

#_form_1_ {
    margin-top: 0;
    margin-bottom: 1em;
    border: 1px solid rgba(160, 160, 160, 0.3) !important;
}

#_form_1_._inline-style input[type="date"] {
    padding: 6px 12px;
}

#_form_1_._inline-style input[type="text"] {
    padding: 6px 12px;
}